body {
  text-align: center;
}
.App{
  display: inline-block;
  font-family: 'Play', sans-serif;
}

.header{
  font-family: 'Common Pixel', sans-serif;
                                                
}