body {
  text-align: center;
  background-color: rgba(45, 34, 114, 0.694);
}
.App{
  display: inline-block;
  font-family: 'Play', sans-serif;
}

.header{
  font-family: 'Common Pixel', sans-serif;
  filter: drop-shadow(30px 10px 4px #4444dd);
}