.heart, .share-button{
    height: 5vh;
}

.like-button{
    float: left;
    width: 5vw;
    
}

.like-button:hover, .share-button:hover{
    transform: translate(-3%, -3%)

}

.message{
    height: 5vh;
    width: 5vw;
}

.share{
    float: right;
}
.clearfix{
    clear: both;
}

.buttons{
    width: 30vw;
    margin-left: 20vw;
}


.post{
    width: 70vw;
    padding: 5vw;
    padding-bottom: 0;
    margin-bottom: 5vh;
    margin-top: 5vh;
    border: 2px solid;
    filter: drop-shadow(30px 10px 4px #4444dd);
    background-color:#3c29823f;
    
}

.post .galaxy{
    width: 70vw;
}
.post .galaxy:hover{
    transform: translate(-1%, -1%)
    
}


.title{
    font-family: 'Common Pixel', sans-serif;
}

.description{
    font-size: 125%;
}
