.heart, .share-button{
    height: 5vh;
    
}

.like-button{
    float: left;
}

.share{
    float: right;
}
.clearfix{
    clear: both;
}

.buttons{
    width: 20vw;
    margin-left: 25vw;
}


.post{
    width: 70vw;
    padding: 5vw;
    padding-bottom: 0;
    margin-bottom: 5vh;
    margin-top: 5vh;
    border: 2px solid;
    filter: drop-shadow(30px 10px 4px #4444dd);
    
}

.post .galaxy{
    width: 70vw;
}
.post .galaxy:hover{
    transform: translate(-2%, -2%)
    
}


.title{
    font-family: 'Common Pixel', sans-serif;
}

.description{
    font-size: 125%;
}
